<div class="container mx-auto">
    {% paginate search.results by 10 %}
        <h1 class="text-xl my-4 text-center">Search Results</h1>

        <div class="flex items-center justify-center">
            <form action="{{ routes.search_url }}" method="get" class="border flex rounded">
                <input type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}"
                class="w-80 bg-white px-4 py-8 text-sm focus:outline-none" />
                <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white px-4">
                    Search
                </button>
            </form>
        </div>
        {% if search.performed %}
            {% if search.results.size > 0 %}
                <div class="max-w-6xl mx-auto">
                    <p class="text-gray-500 text-center my-10">{{ search.results.size }} results for the search term {{ search.terms |  escape }} found</p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        {% for item in search.results %}
                            {% case item.object_type %}
                                {% when 'product' %}
                                    {% render 'product-card', product: item %}
                                {% else %}
                                    
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="text-center my-4">
                    <p>No search found for the search term: {{ search.terms |  escape }}. Try to use a different kayword.</p>
                </div>
            {% endif %}
        {% endif %}
        {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
</div>